﻿@using PR62_2018_Milos_Maksimovic.Models
@model IEnumerable<Gallery>
@{
    ViewBag.Title = "Galleries";
    Layout = null;
}

<html>

<head>
    <link href="~/Content/navbar.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/galleries.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <div class="navbar">
        <form>
            <div class="navbuttons">

                <button class="navbutton" type="submit" formaction="~/Home/Index" formmethod="post">Back to main panel</button>
                <button class="navbutton" type="submit" formaction="~/Manage/AddGallery" formmethod="post">Add New Gallery</button>
            </div>
        </form>
    </div>

    <div class="page">
        <p class="title">List of all galleries:</p>

        <div class="addnew">
            @if (TempData["Add"] == null)
            {
                <br />
                <br />
                <br />
                <br />
            }
            else if ((bool)TempData["Add"] == true)
            {
                <div class="error-msg">
                    @TempData["Message"]
                </div>
                <div class="tablefilter">
                    <form action="~/Manage/NewGallery" method="post">
                        &nbsp;Name*:&nbsp;<input type="text" name="name" />
                        &nbsp;Address*:&nbsp;<input type="text" name="address" />
                        <input class="gallerybutton" type="submit" value="Add Gallery" />
                    </form>
                </div>
            }
            else
            {
                <br />
                <br />
                <br />
                <br />
            }
            </div>

            <div class="table100 ver">
                <table>
                    <tr class="row100 head">
                        <th class="column2">Name</th>
                        <th class="column1">Address</th>
                        <th class="column2">Optional delete</th>
                    </tr>
                    @{ int count = 0;}
                    @foreach (Gallery gallery in Model)
                    {
                        if (gallery.Active)
                        {
                            <tr>
                                <td class="column2">@gallery.Name</td>
                                <td class="column1">@gallery.Address</td>
                                <td>
                                    <form action="~/Manage/DeleteGallery" method="post">
                                        <input type="hidden" value="@count.ToString()" name="galleryIndex" />
                                        <input type="submit" class="gallerybutton2" value="Delete" />
                                    </form>
                                </td>
                            </tr>
                        }
                        count++;
                    }
                </table>

            </div>
        </div>

</body>

</html>
