﻿@using PR62_2018_Milos_Maksimovic.Models
@model IEnumerable<User>
@{
    Layout = null;
}

<html>
<head>
    <link href="~/Content/navbar.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/shop.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <div class="navbar">
        <form>
            <div class="navbuttons">

                <button class="navbutton" type="submit" formaction="~/Home/Index" formmethod="post">Back to main panel</button>

            </div>
        </form>
    </div>

    <div class="page">
        <p class="title">List of active users:</p>

        <div class="table100 ver">
            <table>
                <tr class="row100 head">
                    <th class="column1">Username</th>
                    <th class="column1">Firstname</th>
                    <th class="column1">Lastname</th>
                    <th class="column1">Gender</th>
                    <th class="column1">Email</th>
                    <th class="column1">Role</th>
                    <th class="column1">Optional delete</th>
                </tr>
                @foreach (User user in Model)
                {
                    if (user.Active)
                    {
                        <tr>
                            <td class="column1">@user.Username</td>
                            <td class="column1">@user.FirstName</td>
                            <td class="column1">@user.LastName</td>
                            <td class="column1">@user.Gender.ToString()</td>
                            <td class="column1">@user.Email</td>
                            <td class="column1">@user.Role.ToString()</td>
                            @if (user.Role == UserType.BUYER)
                            {
                                <td>
                                    <form action="~/Manage/DeleteUser" method="post">
                                        <input type="hidden" value="@user.Username" name="username" />
                                        <input type="submit" class="shopbutton" value="Delete" />
                                    </form>
                                </td>
                            }
                        </tr>
                    }
                }
            </table>
        </div>
    </div>


</body>
</html>