﻿
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>

<html>

<head>
    <link href="~/Content/login.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <div class="wrapper">
        <form class="login" action="~/Authentication/Login" method="post">
            <p class="title">Log in</p>
            <div class="error-msg">
                <p>@ViewBag.Message</p>
            </div>
            <p class="titles">Username* :</p>
            <input class="login" type="text" name="username" />
            <p class="titles">Password* :</p>
            <input class="login" type="password" name="password" />
            <input type="submit" class="login" value="Log in" />
            <button class="login" type="submit" formaction="~/Authentication/GuestLogin">Continue as Guest</button>
        </form>

        <p><a href="~/Authentication/Register">Register</a> to become a buyer</p>
    </div>

</body>

</html>



