﻿@model PR62_2018_Milos_Maksimovic.Models.User
@{
    ViewBag.Title = "Register";
    Layout = null;
}
<!DOCTYPE html>

<html>

<head>
    <link href="~/Content/register.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/navbar.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <div class="navbar">
        <div class="navbuttons">
            <form>
                <button class="navbutton" type="submit" formaction="~/Home/Index" formmethod="post">Back to shop</button>
            </form>
        </div>
    </div>

    <div class="wrapper">
        
        <form class="register" action="Register" method="post">
            <p class="title">Register</p>
            <div class="error-msg">
                @ViewBag.Message
            </div>
            <table>
                <tr>
                    <td class="titles">Username*:</td>
                    <td><input type="text" class="register" name="username" autofocus /></td>
                </tr>
                <tr>
                    <td class="titles">Password*:</td>
                    <td><input type="password" class="register" name="password" /></td>
                </tr>
                <tr>
                    <td class="titles">First name*:</td>
                    <td><input type="text" class="register" name="firstname" /></td>
                </tr>
                <tr>
                    <td class="titles">Last name*:</td>
                    <td><input type="text" class="register" name="lastname" /></td>
                </tr>
                <tr>
                    <td class="titles">Gender*:</td>
                    <td>
                        <select name="gender" class="register">
                            <option value="MALE">M</option>
                            <option value="FEMALE">F</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="titles">Email*:</td>
                    <td><input type="text" class="register" name="email" /></td>
                </tr>
                <tr>
                    <td class="titles">Date of birth*:</td>
                    <td><input type="date" class="register" name="birthdate" /></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Register" class="register"/>
                    </td>
                </tr>
            </table>
        </form>


    </div>

</body>

</html>

