﻿@using PR62_2018_Milos_Maksimovic.Models
@model PR62_2018_Milos_Maksimovic.Models.Painting
@{
    ViewBag.Title = "AddPainting";
    Layout = null;
}
<html>
<head>
    <link href="~/Content/register.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/navbar.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <div class="navbar">
        <form>
            <div class="navbuttons">

                <button class="navbutton" type="submit" formaction="~/Home/Index" formmethod="post">Back to main panel</button>

            </div>
        </form>
    </div>

    <div class="wrapper">

        <form action="~/Home/NewPainting" method="post" class="register">
            <p class="title">Add new painting</p>
            <div class="error-msg">
                @ViewBag.Message
            </div>
            <table>
                <tr>
                    <td class="titles">Name*:</td>
                    <td><input type="text" class="register" name="name" /></td>
                </tr>
                <tr>
                    <td class="titles">Author*:</td>
                    <td><input type="text" class="register" name="author" /></td>
                </tr>
                <tr>
                    <td class="titles">Year*:</td>
                    <td><input type="text" class="register" name="year" /></td>
                </tr>
                <tr>
                    <td class="titles">Technique*:</td>
                    <td><input type="text" class="register" name="technique" /></td>
                </tr>
                <tr>
                    <td class="titles">Description:</td>
                    <td><input type="text" class="register" name="description" /></td>
                </tr>
                <tr>
                    <td class="titles">Price*:</td>
                    <td><input type="number" class="register" name="price" size="6" min="0" max="100000000" /></td>
                </tr>
                <tr>
                    <td class="titles">Status:</td>
                    <td>
                        <input type="radio" name="onsale" value="ONSALE">On sale
                        <input type="radio" name="onsale" checked value="NOTFORSALE">Not for sale
                    </td>
                </tr>
                <tr>
                    <td class="titles">Gallery*:</td>
                    <td>
                        <select class="register" name="galleryIndex" value="" style="width: 200px">
                            <option disabled selected> -- select an option -- </option>
                            @{ int count = 0;}
                            @foreach (Gallery gallery in ViewBag.Galleries)
                            {
                                if (gallery.Active)
                                {
                                    <option value="@count.ToString()">@gallery.Name</option>
                                }
                                count++;
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" class="register" value="Add painting" />
                    </td>
                </tr>
            </table>


        </form>
    </div>

</body>

</html>

