﻿@using PR62_2018_Milos_Maksimovic.Models
@model IEnumerable<Painting>

@{
    ViewBag.Title = "Index";
    Layout = null;
}
<html>
<head>
    <link href="~/Content/navbar.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/shop.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <div class="navbar">
        <div class="navbuttons">
            <form class="navbarform">
                <button class="navbutton" type="submit" formaction="~/Home/Index" formmethod="post">Shop</button>

                @if (!ViewBag.Guest)
                {
                    if (ViewBag.User.Role == UserType.ADMINISTRATOR)
                    {

                        <button class="navbutton" type="submit" formaction="~/Home/ManageUsers" formmethod="post">Manage users</button>
                        <button class="navbutton" type="submit" formaction="~/Home/ManageGalleries" formmethod="post">Manage galleries</button>
                        <button class="navbutton" type="submit" formaction="~/Home/Add" formmethod="post">Add new painting</button>
                        <button class="navbutton" type="submit" formaction="~/Home/LogOut" formmethod="post">Logout</button>

                    }
                    if (ViewBag.User.Role == UserType.BUYER)
                    {

                        <button class="navbutton" type="submit" formaction="~/Home/Cart" formmethod="post">Cart</button>
                        <button class="navbutton" type="submit" formaction="~/Home/PurchaseHistory" formmethod="post">Purchase history</button>
                        <button class="navbutton" type="submit" formaction="~/Home/CheckGalleries" formmethod="post">Check galleries</button>
                        <button class="navbutton" type="submit" formaction="~/Home/LogOut" formmethod="post">Logout</button>

                    }
                }
            </form>
        </div>
    </div>

    <div class="page">

        <div class="welcome">
            @if (ViewBag.Guest)
            {
                <p class="title">Hello dear Guest</p>
                <p style="font-size: medium">If u want to buy something please <a href="~/Authentication/Register">register</a> or <a href="~/Authentication/Index">login</a></p>
            }
            else
            {
                <p class="title">Welcome @ViewBag.User.Username</p>
            }
        </div>

        <form>
            <div class="tablefilter">
                <table class="tablefilter">
                    <tr>
                        <td colspan="5" style="text-align: center;">Filters:</td>
                        <td>
                            <button class="shopbutton" type="submit" formaction="~/Home/Cancel" formmethod="POST">Cancel all Filters</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Sort by:</td>
                        <td colspan="2">
                            <select class="filtertablefils" name="field">
                                <option value="name">Name</option>
                                <option value="technique">Technique</option>
                                <option value="price">Price</option>
                            </select>
                        </td>
                        <td colspan="2">
                            <select class="filtertablefils" name="type">
                                <option value="a">Ascending</option>
                                <option value="d">Descending</option>
                            </select>
                        </td>
                        <td style="align-content:center">
                            <button class="shopbutton" type="submit" formaction="~/Home/Sort" formmethod="post">Sort</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Search by:</td>
                        <td colspan="2">
                            <select class="filtertablefils" name="field">
                                <option value="name">Name</option>
                                <option value="technique">Technique</option>
                            </select>
                        </td>
                        <td colspan="2">
                            <input type="text" class="filtertablefils" name="searchParm" />
                        </td>
                        <td width="auto">
                            <button class="shopbutton" type="submit" formaction="~/Home/Search" formmethod="post">Search</button>
                        </td>

                    </tr>
                    <tr>

                        <td>Search by price:</td>
                        <td>Min:</td>
                        <td>
                            <input type="number" class="filtertablefils" name="searchPriceMin" size="6" min="0" max="100000000" />
                        </td>
                        <td>Max:</td>
                        <td>
                            <input style="width: 100%;" class="filtertablefils" type="number" name="searchpriceMax" size="6" min="0" max="100000000" />
                        </td>
                        <td colspan="2">
                            <button formaction="~/Home/SearchPrice" formmethod="post" class="shopbutton" type="submit">Apply</button>
                        </td>

                    </tr>

                </table>
            </div>
        </form>

        
        <div class="table100 ver">
            <table>

                <tr class="row100 head">
                    <th class="column1">Name</th>
                    <th class="column1">Author</th>
                    <th class="column1">Year</th>
                    <th class="column1">Technique</th>
                    <th class="column1">Description</th>
                    <th class="column1">Price</th>
                    <th class="column1">&nbsp;</th>
                </tr>

                @if (!ViewBag.Guest)
                {
                    if (ViewBag.User.Role == UserType.ADMINISTRATOR)
                    {
                        int counter = 0;
                        foreach (Painting painting in Model)
                        {
                            if (painting.Active)
                            {


                                <tr class="row100 body">
                                    <td class="column1">@painting.Name</td>
                                    <td class="column1">@painting.Author</td>
                                    <td class="column1">@painting.Year</td>
                                    <td class="column1">@painting.Technique</td>
                                    <td class="column1">@painting.Description</td>
                                    <td class="column1">@painting.Price</td>
                                    @if (painting.OnSale != Status.SOLD)
                                    {
                                        <td class="column1">
                                            <form action="~/Home/ModifyPainting" method="post">
                                                <input type="hidden" value="@counter" name="position" />
                                                <input class="shopbutton" type="submit" value="Modify" />
                                            </form>
                                        </td>
                                    }
                                </tr>


                            }
                            counter++;
                        }
                    }
                    else
                    {
                        int counter = 0;
                        foreach (Painting painting in Model)
                        {
                            if (painting.OnSale == Status.ONSALE && painting.Active)
                            {
                                <tr class="row100 body">
                                    <td class="column1">@painting.Name</td>
                                    <td class="column1">@painting.Author</td>
                                    <td class="column1">@painting.Year</td>
                                    <td class="column1">@painting.Technique</td>
                                    <td class="column1">@painting.Description</td>
                                    <td class="column1">@painting.Price</td>
                                    <td class="column1">
                                        <form action="~/Cart/Add" method="post">
                                            <input type="text" name="index" value="@counter.ToString()" hidden />
                                            <input type="submit" class="shopbutton" value="Add to cart" />
                                        </form>
                                    </td>
                                </tr>
                            }
                            counter++;
                        }
                    }
                }
                else
                {
                    foreach (Painting painting in Model)
                    {
                        if (painting.OnSale == Status.ONSALE && painting.Active)
                        {
                            <tr class="row100 body">
                                    <td class="column1">@painting.Name</td>
                                    <td class="column1">@painting.Author</td>
                                    <td class="column1">@painting.Year</td>
                                    <td class="column1">@painting.Technique</td>
                                    <td class="column1">@painting.Description</td>
                                    <td class="column1">@painting.Price</td>
                            </tr>
                        }
                    }
                }

            </table>
        </div>


    </div>

</body>

</html>