﻿@model PR62_2018_Milos_Maksimovic.Models.Painting
@{
    Layout = null;
}

<html>

<head>
    <link href="~/Content/register.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/navbar.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <div class="navbar">
        <form>
            <div class="navbuttons">

                <button class="navbutton" type="submit" formaction="~/Home/Index" formmethod="post">Back to main panel</button>

            </div>
        </form>
    </div>

    <div class="wrapper">
        <form action="~/Home/Modify" method="post" class="register">
            <p class="title">Modify painting:</p>
            <div class="error-msg">
                @ViewBag.Message
            </div>
            <table>
                <tr>
                    <td class="titles">Name*:</td>
                    <td><input type="text" class="register" name="name" value="@Model.Name" /></td>
                </tr>
                <tr>
                    <td class="titles">Author*:</td>
                    <td><input type="text" class="register" name="author" value="@Model.Author" /></td>
                </tr>
                <tr>
                    <td class="titles">Year*:</td>
                    <td><input type="text" class="register" name="year" value="@Model.Year" /></td>
                </tr>
                <tr>
                    <td class="titles">Technique*:</td>
                    <td><input type="text" class="register" name="technique" value="@Model.Technique" /></td>
                </tr>
                <tr>
                    <td class="titles">Description:</td>
                    <td><input type="text" class="register" name="description" value="@Model.Description" /></td>
                </tr>
                <tr>
                    <td class="titles">Price*:</td>
                    <td><input type="number" class="register" name="price" size="6" min="0" max="100000000" value="@Model.Price" /></td>
                </tr>
                <tr>
                    <td class="titles">Status:</td>
                    <td>
                        @{
                            if (Model.OnSale == PR62_2018_Milos_Maksimovic.Models.Status.ONSALE)
                            {
                                <input type="radio" name="onsale" value="ONSALE" checked />@:On sale
                                <input type="radio" name="onsale" value="NOTFORSALE" />@:Not for sale
                            }
                            else
                            {
                                <input type="radio" name="onsale" value="ONSALE" />@:On sale
                                <input type="radio" name="onsale" value="NOTFORSALE" checked />@:Not for sale
                            }
                        }
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <input type="submit" class="register" value="Modify" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>

</html>