﻿@using PR62_2018_Milos_Maksimovic.Models
@model IEnumerable<Gallery>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <link href="~/Content/navbar.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/shop.css" rel="stylesheet" type="text/css" />
    <title>CheckGalleries</title>
</head>

<body>

    <div class="navbar">
        <form>
            <div class="navbuttons">
                <button type="submit" class="navbutton" formaction="~/Cart/BackToMainPanel">
                    Back to main
                    page
                </button>
            </div>
        </form>
    </div>


    @if (Model.Count() > 0)
    {
        <div class="page">
            <p class="title">Galleries:</p>

            <div style="margin-left: 100px">
                <form action="~/Cart/ShowGallery" method="post">
                    <select name="galleryIndex" value="" class="input1">
                        <option disabled selected> Select gallery to display </option>
                        @{ int count = 0; }
                        @foreach (Gallery gallery in Model)
                        {
                            if (gallery.Active)
                            {
                                <option value="@count.ToString()">@gallery.Name</option>
                            }
                            count++;
                        }
                    </select>
                    <input type="submit" class="shopbutton2" value="Show paintings" />
                </form>
            </div>



            @if (TempData["show"] != null)
            {
                <div class="table100 ver">
                    <table>
                        @foreach (var painting in (Model.ElementAt((int)TempData["show"])).Paintings)
                        {
                            if (painting.Active && painting.OnSale != Status.SOLD)
                            {
                                <tr class="row100 head">
                                    <th class="column1">Name</th>
                                    <th class="column1">Author</th>
                                    <th class="column1">Year</th>
                                    <th class="column1">Technique</th>
                                    <th class="column1">Description</th>
                                    <th class="column1">Price</th>
                                    <th class="column1">Status</th>
                                </tr>
                                break;
                            }
                        }

                        @{count = 0; }

                        @foreach (var painting in (Model.ElementAt((int)TempData["show"])).Paintings)
                        {

                            if (painting.Active && painting.OnSale != Status.SOLD)
                            {
                                <tr class="row100 body">
                                    <td class="column1"> @painting.Name </td>
                                    <td class="column1"> @painting.Author </td>
                                    <td class="column1"> @painting.Year </td>
                                    <td class="column1"> @painting.Technique </td>
                                    <td class="column1"> @painting.Description </td>
                                    <td class="column1"> @painting.Price </td>
                                    <td class="column1"> @painting.OnSale </td>
                                </tr>
                                count++;
                            }


                        }
                    </table>
                </div>
                if (count == 0)
                {
                    <p>No available paintings in @Model.ElementAt((int)TempData["show"]).Name gallery</p>
                }



            }

        </div>
    }


</body>

</html>