﻿@using PR62_2018_Milos_Maksimovic.Models
@model IEnumerable<Painting>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/navbar.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/galleries.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <div class="navbar">
        <form>
            <div class="navbuttons">
                <button type="submit" class="navbutton" formaction="~/Cart/BackToMainPanel">Back to main page</button>
            </div>
        </form>
    </div>

    <div class="page">
        <p class="title">List of all galleries:</p>

        <div class="error-msg">
            @ViewBag.Message
        </div>

        @if (!ViewBag.Message.Equals("Cart is empty"))
        {
            <div class="table100 ver">
                <table>
                    <tr class="row100 head">
                        <th class="column1">Painting name</th>
                        <th class="column1">Painting Author</th>
                        <th class="column1">Painting price</th>
                        <th class="column2">&nbsp;</th>
                    </tr>
                    @{int count = 0;}
                    @foreach (Painting item in Model)
                    {
                    <tr>
                        <td class="column1">@item.Name</td>
                        <td class="column1">@item.Author</td>
                        <td class="column1">@item.Price</td>
                        <td class="column2" style="border-bottom: 2px solid #f2f2f2;">
                            <form action="~/Cart/Remove" method="post">
                                <input type="hidden" value="@count.ToString()" name="index" />
                                <input type="submit" class="gallerybutton2" value="Remove" />
                            </form>
                        </td>
                    </tr>
                        count++;
                    }
                    <tr>
                        <th colspan="2" align="right" class="column1">Total:</th>
                        <th class="column1">@ViewBag.Total</th>
                    </tr>

                    <tr>
                        <td>&nbsp;</td>
                        <td align="center">
                            <form action="~/Cart/RemoveAll" method="post">
                                <input type="submit" class="gallerybutton2" value="Drop all" />
                            </form>
                        </td>
                        <td align="center">
                            <form action="~/Cart/Buy">
                                <input type="submit" class="gallerybutton2" value="Buy" />
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        }
    </div>

</body>
</html>
