﻿@using PR62_2018_Milos_Maksimovic.Models
@model IEnumerable<Receipt>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/navbar.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/galleries.css" rel="stylesheet" type="text/css" />
    <title>PurchaseHistory</title>
</head>
<body>

    <div class="navbar">
        <form>
            <div class="navbuttons">
                <button type="submit" class="navbutton" formaction="~/Cart/BackToMainPanel">Back to main page</button>
            </div>
        </form>
    </div>

    <div class="page">
        <p class="title">Previous purchases:</p>

        @if (ViewBag.Count != 0)
        {
            <div class="table100 ver">
                <table>
                    <tr class="row100 head">
                        <th class="column1">Date</th>
                        <th class="column1">Paintings</th>
                        <th class="column1">Prices</th>
                        <th class="column1">Total</th>
                    </tr>
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td class="column4">@item.Date</td>
                            <td class="column4">
                                <table style="margin:0;width:100%;" align="center">
                                    @foreach (var painting in item.ChosenPaintings)
                                    {
                                        <tr ><td class="column3">@painting.Name</td></tr>
                                    }
                                </table>
                            </td>
                            <td class="column4">

                                <table style="margin:0;width:100%;" align="center">
                                    @foreach (var painting in item.ChosenPaintings)
                                    {
                                        <tr><td class="column3" style="text-align:center;width:100%">@painting.Price</td></tr>
                                    }
                                </table>

                            </td>
                            <td class="column5">@item.PaidAmount</td>
                        </tr>
                    
                    }
                </table>
            </div>
         }
         else
         {
             <p>You have no purchase history</p>
         }
    </div>
</body>
</html>
