﻿body {
}

.page {
    margin-top: 70px;
    
    font-size: large;
}

.title {
    color: #444;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0 10px 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    text-align: left;
}

.welcome p {
    font-size: xx-large;
    font-weight: bold;
}

.filtertablefils {
    width: 100%;
}

.gallerybutton {
    display:compact;
    align-content: center;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #ddd;
    transition: border-width 0.2s ease;
    border-radius: 2px;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-size: medium;
}

.gallerybutton:hover {
    background-color: #89cff0;
}

.gallerybutton2 {
    width: 100%;
    display: block;
    align-content: center;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 1px solid #ddd;
    transition: border-width 0.2s ease;
    border-radius: 2px;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-size: large;
}

.gallerybutton2:hover {
    background-color: #89cff0;
}

input {
    display: compact;
    padding: 5px 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-size: medium;
}

.tablefilter {
    width: 50%;
}

.addnew {
    background-color: #fff;
    width: 100%;
}

.table100 {
    background-color: #fff;
    width: 60%;
}



th, td {
    font-weight: unset;
    padding-right: 10px;
}

.column1 {
    width: 16%;
    text-align: center;
    align-content: center;
    border-bottom: 2px solid #f2f2f2;
}
.column2 {
    width: 5%;
    text-align: center;
}
.column3 {
    width: 16%;
    text-align: center;
    align-content: center;
}

.column4 {
    width: 16%;
    text-align: center;
    align-content: center;
    border-bottom: 2px solid #f2f2f2;
}

.column5 {
    width: 16%;
    text-align: center;
    align-content: center;
    border-bottom: 2px solid #f2f2f2;
    border-right: 2px solid #f2f2f2;
}

.table100.ver {
    margin-right: -20px;
}

.table100.ver .table100-head {
    padding-right: 20px;
}

.table100.ver th {
    font-family: Lato-Bold;
    font-size: 18px;
    color: #4272d7;
    line-height: 1.4;
    background-color: transparent;
    border-bottom: 2px solid #f2f2f2;
}

.table100.ver .column1 {
    padding-left: 7px;
}

.table100.ver .column3 {
    padding-left: 14px;
}

.table100.ver td {
    font-family: Lato-Regular;
    font-size: 15px;
    color: darkslategrey;
    line-height: 1.4;
}

.table100.ver .table100-body tr {
    border-bottom: 1px solid #f2f2f2;
}

.table100.ver {
    overflow: hidden;
}

.error-msg {
    color: rgb(255, 0, 0);
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0 0 0;
}