﻿body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    
}

.navbarform {
    margin: 0;
    padding: 0;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbuttons {
    float: left;
    overflow: hidden;
}

.navbuttons .navbutton {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .navbutton:hover  {
    background-color: #89cff0;
}

.navbuttons-content a:hover {
    background-color: #ddd;
}

.navbuttons:hover .navbuttons-content {
    display: block;
}
