﻿body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    height: 90vh;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position:fixed;
    top: 0;
    width: 100%;
}

.navbuttons {
    float: left;
    overflow: hidden;
}

.navbuttons .navbutton {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .navbutton:hover .navbutton {
    background-color: #89cff0;
}

.navbutton-content a:hover {
    background-color: #ddd;
}

.navbutton:hover .navbutton-content {
    display: block;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 90%;
    padding: 0px;
}

.register {
    border-radius: 2px 2px 5px 5px;
    padding: 10px 20px 20px 20px;
    width: 90%;
    max-width: 320px;
    background: #ffffff;
    position: relative;
    padding-bottom: 80px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
}

input.register {
    display: block;
    padding: 5px 0px 0px 0px;
    margin-bottom: auto;
    width: 100%;
    border: 1px solid #ddd;
    transition: border-width 0.2s ease;
    border-radius: 2px;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-size: medium;
}

select.register {
    display: block;
    border: 1px solid #ddd;
    width:auto;
    padding: 5px 0px 0px 0px;
    border-radius: 2px;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-size: medium;
}

.title {
    color: #444;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0 10px 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    text-align: center;
}

.titles {
    color: #444;
    font-size: 1em;
    font-weight: bold;
    margin: 10px 0 0 0;
}

.error-msg {
    color: rgb(255, 0, 0);
    font-size: 1em;
    font-weight: bold;
    margin: 5px 0 0 0;
    text-align: left;
}

input[type="submit"].register {
    width: 87%;
    height: 100%;
    padding: 15px 10px;
    background-color: #89cff0;
    color: white;
    display: block;
    border: none;
    margin-top: 10px;
    margin-left: 20px;
    position: absolute;
    left: 0;
    bottom: 1;
    max-height: 50px;
    border: 0px solid rgba(0,0,0,0.1);
    border-radius: 0 0 2px 2px;
}

input[type=submit]:hover {
    background-color: #89b5f0;
}

