﻿body {
}

.page {
    margin-top: 70px;
    margin-left: 5px;
    font-size: large;
}

.title {
    color: #444;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0 10px 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    text-align: left;
}

.welcome p {
    font-size: xx-large;
    font-weight: bold;
}

.filtertablefils {
    width: 100%;
    display: compact;
    align-self: center;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    transition: border-width 0.2s ease;
    border-radius: 2px;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-size: large;
}

.shopbutton {
    width: 100%;
    display: compact;
    align-content: center;
    align-self: center;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    transition: border-width 0.2s ease;
    border-radius: 2px;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-size: large;
}

.shopbutton:hover {
    background-color: #89cff0;
}

.shopbutton2 {
    
    display: compact;
    align-content: center;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 1px solid #ddd;
    transition: border-width 0.2s ease;
    border-radius: 2px;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-size: large;
}

.shopbutton2:hover {
    background-color: #89cff0;
}

.tablefilter {
    width: 80%;
}

input.tablefilter {
    font-size: large;
    font-family: "Open Sans", sans-serif;
    padding: 5px;
}

select.tablefilter {
    font-size: large;
    font-family: "Open Sans", sans-serif;
    padding: 5px;
}

.table100 {
    background-color: #fff;
    width: 100%;
}

.input1 {
    display: compact;
    padding: 5px 5px;
    margin-bottom: 10px;
    
    border: 1px solid #ddd;
    transition: border-width 0.2s ease;
    border-radius: 2px;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-size: large;
}

th, td {
    font-weight: unset;
    padding-right: 10px;
}

.column1 {
    width: 14%;
    text-align: center;
    border-bottom: 2px solid #f2f2f2;
}

.table100.ver {
    margin-right: -20px;
}

.table100.ver .table100-head {
    padding-right: 20px;
}

.table100.ver th {
    font-family: Lato-Bold;
    font-size: 18px;
    color: #4272d7;
    line-height: 1.4;
    background-color: transparent;
    border-bottom: 2px solid #f2f2f2;
}

.table100.ver .column1 {
    padding-left: 7px;
}

.table100.ver td {
    font-family: Lato-Regular;
    font-size: 15px;
    color: darkslategrey;
    line-height: 1.4;
}

.table100.ver .table100-body tr {
    border-bottom: 1px solid #f2f2f2;
}

.table100.ver {
    overflow: hidden;
}