﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

div.error-msg {
    color: red;
}

input[type=submit] {
    width: 20em;
    height: 2em;
}

button[type=submit] {
    width: 20em;
    height: 2em;
}

div.login {
    margin: 0 auto;
    width: 50%;
}
